.tagContainer{
    background-color:  rgb(130, 230, 139);
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    box-shadow: 2px 2px 10px black;
}

.tagName{
    background-color: rgb(188, 255, 194);
    padding: 10px;
    height: 100%;
    border-radius: 15px;
    color: rgb(31, 128, 39);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}