.headerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: verdana;
    padding: 50px;
}

.profile{
    margin-top: 50px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px black;
    border: 10px solid rgb(188, 255, 194);
}

.header{
    text-align: center;
}

.description{
    margin: 0 300px;
    text-align: center;
}

@media (max-width: 600px){
    .profile{
        margin: 0 30%;
        width: 70%;
    }

    .header{
        width: 90%;
        font-size:x-large;
    }

    .description{
        margin: 0 30%;
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 1024px) and (min-width: 601px){
    .profile{
        margin: 0 30%;
        width: 60%;
    }

    .header{
        width: 70%;
        font-size:x-large;
    }

    .description{
        margin: 0 30%;
        width: 70%;
        text-align: center;
    }
}

@media (min-width: 1025px){
    .profile{
        margin-bottom: 50px;
        width: 35%;
    }

    .header{
        width: 50%;
        font-size:x-large;
    }

    .description{
        width: 50%;
        text-align: center;
    }
}