.contactsContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.contactTitle{
    padding: 10px 10px 0px 10px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color:rgb(130, 230, 139);
    text-align: center;
    border-radius: 16px 24px 0 0;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(188, 255, 194);
    width: 50%;
    box-shadow: 2px 2px 10px black;

}

.contactLists{
    border: 10px solid rgb(130, 230, 139);
    border-radius: 24px;
    margin-top: 0;
    width: 100%;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(188, 255, 194);
    box-shadow: 0px 10px 10px black;
}

.contact{
    background-color: rgb(130, 230, 139);
    border-radius: 16px;
    padding: 10px; 
    text-align: center;
    width: 90%;
    margin: 10px;
}