.projects{
    background: rgb(188, 255, 194);
    border-radius: 24px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 20px black;
    cursor: pointer;
}

.column{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
}

.videoDefault{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
    transition: 0.4s;
    float: left;
}

.videoExpand{
    transition: 0.2s;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    height: 80%;
}

.textsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(92, 197, 101);
    display: flex;
    align-items: center;
    margin: 0;
    height: 50%;
    align-self: stretch;
    border-radius: 0 24px 0 0;
    padding: 0 15px;
}

.descriptionContainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(130, 230, 139);
    margin: 0;
    height: 50%;
    border-radius: 0 0 24px 0;
}

.shortDes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 15px;
}

.description{
    transition: 0.4s;
    margin: 0;
    padding: 0;
    overflow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0 0 16px 16px;
}

.show{
    opacity: 1;
    max-height: 500px;
    padding: 30px;
}

.hide{
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.list{
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .projects{
        width: 85%;
    }

    .videoDefault{
        width: 100px;
        height: 130px;
    }

    .title{
        font-size: 15px;
        text-align: center;
    }

    .shortDes{
        text-align: center;
    }

    .descriptionContainer{
        text-align: center;
    }
}

@media (max-width: 1024px) and (min-width: 601px){
    .projects{
        width: 70%;
    }

    .videoDefault{
        width: 100px;
        height: 130px;
    }

    .title{
        font-size: 19px;
    }
}

@media (min-width: 1025px){
    .projects{
        width: 50%;
    }

    .videoDefault{
        width: 100px;
        height: 130px;
    }

    .title{
        font-size: 19px;
    }
}